@font-face {
  font-family: "Kimberley";
  src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype");
}

@font-face {
  font-family: "MrRobot";
  src: url(/static/common/fonts/Mr.Robot.ttf) format("truetype");
}

@font-face {
  font-family: "Nise Sega Cyrillic";
  src: url(/static/common/fonts/NiseSegaCyrillic.ttf) format("truetype");
}