/*Flat Colors*/
$flat_palette_fern:             #61BD6D;
$flat_palette_chateau_green:    #41A85F;
$flat_palette_mountain_meadow:  #1ABC9C;
$flat_palette_persian_green:    #00A885;

$flat_palette_picton_blue: #54acd2;
$flat_palette_curious_blue: #3D8EB9;
$flat_palette_mariner: #2C82C9;
$flat_palette_denim: #2969B0;

$flat_palette_wisteria: #9365B8;
$flat_palette_blue_gem: #553982;
$flat_palette_chambray: #475577;
$flat_palette_blue_whale: #28324e;

$flat_palette_energy: #F7DA64;
$flat_palette_turbo: #FAC51C;
$flat_palette_neon_carrot: #FBA026;
$flat_palette_sun: #f37934;

$flat_palette_terra_cotta: #EB6B56;
$flat_palette_valencia: #D14841;
$flat_palette_cinnabar: #E25041;
$flat_palette_well_red: #B8312F;

$flat_palette_almond_frost: #A38F84;
$flat_palette_iron_gray: #75706B;
$flat_palette_white_smoke: #EFEFEF;
$flat_palette_iron: #D1D5D8;

$default_palette_white: white;
$default_palette_light: #fcfcfc;
$default_palette_dark: #444;
$default_palette_black: black;

$flat_palette_wet_asphalt: #424949;

$flat_palette_nightly: #1c2833;
$flat_palette_deep_ocean: #17202a;

